/* Nav Bar */

nav {
    display: flex;
   background-color: rgb(41, 228, 41);
   font-size: 19px;
 }
 
 ul {
   list-style-type: none;
   display: flex;
   margin-right: 2rem;
   flex-wrap: wrap;
   flex-grow: 1;
   justify-content: space-between;
   }
 
 /*
 Having fun with it
 Nav bar changes color when hovered over */
 li > a:hover {
   color: green;
   text-decoration: underline;
 }
 li > a{
   text-decoration: none;
   color: black;
    font-family: 'Roboto', sans-serif;
 }
 
 li > a:visited {
   text-decoration:black;
   color: black;
 }
 

  .hero {

    width:75%;
    height:auto;
    min-width:50%;
    min-height:auto;
    
    margin-left: 0;
    margin-right: auto;
  }
  button {
   width:85%;
   height:80px;
   border-radius: 10px;
  }
 
  h3{
text-align: center;


  }
  fieldset {
display:flex;
max-width:85%;
justify-items: center;
flex-direction: column;
margin:auto;


  }
  
   .grid-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-items: stretch;
    text-align: center;
   
    margin: 0 auto;
    width: 65%;
    font-size: 25px;
    background-color: rgb(248, 244, 244);
    border-radius: 7px;
    max-width:75ch;
    
   }

   main {
background-image: url(https://images.unsplash.com/photo-1483119107169-31558642c29c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:100vh;
color: black;


   }
   
